Name: Varsha Gupta

Create an empty dictionary called Car_0 . Then fill the dictionary with Keys : color , speed , X_position and Y_position.

car_0 = {'x_position': 10, 'y_position': 72, 'speed': 'medium'} .

a) If the speed is slow the coordinates of the X_pos get incremented by 2.

b) If the speed is Medium the coordinates of the X_pos gets incremented by 9

c) Now if the speed is Fast the coordinates of the X_pos gets incremented by 22.

Print the modified dictionary.

In [1]:
Car_0 = {}
Car_0['x_position'] = 10
Car_0['y_position'] = 72
Car_0['speed'] = 'medium'
Car_0['color'] = 'blue'
if Car_0['speed'] == 'slow':
    Car_0['x_position'] += 2
elif Car_0['speed'] == 'medium':
    Car_0['x_position'] += 9
elif Car_0['speed'] == 'fast':
    Car_0['x_position'] += 22
print(Car_0)

{'x_position': 19, 'y_position': 72, 'speed': 'medium', 'color': 'blue'}

Pattern Programming Questions

In [2]:
1.

for i in range(0,5):
    for j in range(i,5):
        print("5 ",end= "")
    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [3]:
2.

for i in range(6, 1, -1):
    for j in range(0, i):
        print(j, " ",end= "")
    print("\r")

0  1  2  3  4  5
0  1  2  3  4
0  1  2  3
0  1  2
0  1

In [4]:
3.

for i in range(0,5):
    for j in range(-1,i):
        print((2*i)+1," ",end= "")
    print("\r")

1
3  3
5  5  5
7  7  7  7
9  9  9  9  9

In [5]:
4.

for i in range(0,5):
    for j in range(i+1,0,-1):
        print(j," ",end= "")
    print("\r")

1
2  1
3  2  1
4  3  2  1
5  4  3  2  1

In [6]:
5.

start = 1
stop = 2
current_Number = stop
for row in range(2, 6):
    for column in range(start, stop):
        current_Number -= 1
        print(current_Number, end=' ')
    print("")
    start = stop
    stop += row
    current_Number = stop

1
3 2
6 5 4
10 9 8 7

In [7]:
6.

def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()

def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

# set rows
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [8]:
7.

for i in range(1,6):
    for j in range(1,6):

# Check condition if value of j is smaller or equal than
# the j then print i otherwise print j

        if(j<=i):
           print(i,end= " ")
        else:
           print(j,end= " ")

    print(" ")

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [9]:
8.

for i in range(1,9):
    for j in range(1, i+1):
        if(i==1):
            print(1,end=" ")
        else:
            print(j*i,end= " ")

    print("\r")

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [10]:
9.

k = 8
for i in range(5, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [11]:
10.

# number of spaces
k = 12

# outer loop to handle number of rows
for i in range(0, 7):

  # inner loop to handle number spaces
  # values changing acc. to requirement
    for j in range(0, k):
        print(end=" ")

 # decrementing k after each loop
    k = k - 1

 # inner loop to handle number of columns
 # values changing acc. to outer loop
    for j in range(0, i + 1):

 # printing stars
       print("*", end=' ')

 # ending line after each row
    print(" ")

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *

In [12]:
11.

# Outer loop will print the number of rows
for i in range(0, 6):
  # This inner loop will print the stars
    for j in range(0, i + 1):
        print("*", end=' ')
 # Change line after each iteration
    print(" ")
    
print(" ")    
 # For second pattern
for i in range(7, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
12.

for i in range(0, 5):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(5, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
13.

rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [15]:
14.

rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')       
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [16]:
15.

rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*